@inject IServiceProvider sp

<div class="p-3" style="position: relative;height: 100vh;">

    <GraphPane @ref="@graphPane">

        <button @onclick="@(async () => await graphPane!.Redraw())">@Guid.NewGuid()</button>

    </GraphPane>

</div>

@code {
    [Parameter]
    public HomeForm? Form { get; set; }

    private GraphPane? graphPane;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            Form!.Opacity = 1.0;
        }
    }

    private async Task EditToken(string regex)
    {
        var nextForm = sp.GetRequiredService<EditTokenForm>();
        var token = await nextForm.ShowEditTokenForm(regex, (_) => "Invalid");
    }
}