@inject IServiceProvider sp

<div class="p-3" style="position: relative;height: 100vh;">

    <GraphPane Style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;" @ref="@graphPane">

        <DragContainer>
            <GraphNode Id="start-node" Class="pe-0 bg-dark text-light" Style="white-space: nowrap;" HeightCm="1" RightOutput>

                <h5 class="m-0 fw-bolder fst-italic">
                    Start
                </h5>

                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                </svg>

            </GraphNode>
        </DragContainer>

        @for (var _i = 0; _i < 2; _i++)
        {
            var i = _i;

            <DragContainer InitialPosition="(i * 110 + 110, i * 110 + 110)">
                <GraphNode Id="@($"node-{i}")" Style="white-space: nowrap;" HeightCm="1" LeftInput RightOutput>

                    <h5 class="m-0">Node @i</h5>

                </GraphNode>
            </DragContainer>
        }

    </GraphPane>

</div>

@code {
    [Parameter]
    public HomeForm? Form { get; set; }

    private GraphPane? graphPane;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            Form!.Opacity = 1.0;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            //TODO Add edges from saved graph
            graphPane.EdgeContext.DomEdges.Add(new()
            {
                SelectorFrom = "#start-node .right-output",
                SelectorTo = "#node-0 .left-input",
                Color = "red"
            });
            graphPane.EdgeContext.DomEdges.Add(new()
            {
                SelectorFrom = "#node-0 .right-output",
                SelectorTo = "#node-1 .left-input",
                Dashed = true
            });

            await graphPane.RebuildPlottedEdges();
        }
    }

    //TODO
    private async Task EditToken(string regex)
    {
        var nextForm = sp.GetRequiredService<EditTokenForm>();
        var token = await nextForm.ShowEditTokenForm(regex, (_) => "Invalid");
    }
}