@inject IServiceProvider sp

<div class="p-3" style="position: relative;height: 100vh;">

    <GraphPane @ref="@graphPane">

        <span class="d-flex flex-column gap-2 p-2 bg-white bg-opacity-75 text-dark align-items-center"
            style="width: fit-content;border-radius: 0.25cm;height: 1.5cm;
                   border: 2px solid white;
                   box-shadow: 0 0.125rem 0.25rem 0.25rem rgba(255, 255, 255, 0.2);">

            <h2 class="m-0 fw-bolder fst-italic">Test</h2>

        </span>

    </GraphPane>

</div>

@code {
    [Parameter]
    public HomeForm? Form { get; set; }

    private GraphPane? graphPane;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            Form!.Opacity = 1.0;
        }
    }

    private async Task EditToken(string regex)
    {
        var nextForm = sp.GetRequiredService<EditTokenForm>();
        var token = await nextForm.ShowEditTokenForm(regex, (_) => "Invalid");
    }
}